/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Notice bar styles */
  .notice-bar {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
  }
  
  .notice-bar p {
    margin: 0;
  }
  
  /* Navigation bar styles */
  .navigation {
    background-color: #333;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .navigation li {
    margin: 0 10px;
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
  }
  
  /* Product styles */
  .product {
    margin: 20px;
  }
  
  .product h2 {
    margin-bottom: 5px;
  }
  
  .add-to-cart {
    float: right;
  }
  
  /* Model Viewer styles */
  .model-viewer {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Set the width to occupy the full width of the container */
    height: 80vh; /* Set the height to 80% of the viewport height */
  }
